{{#
    @name Buttons
    @desc Multiple buttons component calling in `resources/vivews/components/_button.antlers.html`.
    @param inverted Boolean. When the buttons needs inverted styles.
    @set page.article.buttons
#}}

<!-- /components/_buttons.antlers.html -->
{{ if buttons }}
    {{ if type == 'buttons' }}
        {{# Add a size utility and use different styling when called as a Bard set. #}}
        <div class="size-md flex flex-wrap gap-3 not-prose">
            {{ buttons }}
                {{ partial:components/button }}
            {{ /buttons }}
        </div>
    {{ else }}
        {{# The styling when called from any other partial or template. #}}
        <div class="flex flex-wrap gap-3 {{ class }}">
            {{ buttons }}
                {{ partial:components/button :inverted="inverted" class="" }}
            {{ /buttons }}
        </div>
    {{ /if }}
{{ /if }}
<!-- End: /components/_buttons.antlers.html -->
