{{#
	@name Cookie banner
	@desc The cookie banner component defined in `resources/views/snippets/_seo.antlers.html` and yielded in `resources/views/layout.antlers.html`.
#}}

<div
    x-data="{
        open: true,
        cookieConsent: $persist(0),
        cookieConsentDate: $persist(0)
    }"
    x-effect="
        cookieConsent = JSON.parse(cookieConsent),
        cookieConsent
            ? gtag('consent', 'update', { 'ad_storage': 'granted', 'analytics_storage': 'granted' })
            : gtag('consent', 'update', { 'ad_storage': 'denied', 'analytics_storage': 'denied' })
    "
    x-init="
        cookieConsent != 0 ? open = false : '',
        (cookieConsentDate < '{{ seo:cookie_revoke_before format="Y-m-d" }}' ? (cookieConsent = 0, cookieConsentDate = 0) : '')"
    x-show="open"
    class="fixed z-50 inset-x-0 bottom-0 bg-primary"
    x-cloak
>
    <div class="fluid-container flex flex-col md:flex-row md:items-center justify-between flex-wrap py-4 space-y-4 md:space-y-0 md:space-x-4">
        <p class="text-sm font-bold text-primary-50">
            {{ trans:strings.cookie_explanation }}

            {{ if seo:link_privacy_statement == 'entry' }}
                <a class="underline" href="{{ seo:privacy_statement_entry:url }}">{{ trans:strings.cookie_learn_more }}</a>
            {{ elseif seo:link_privacy_statement == 'pdf' }}
                <a class="underline" href="{{ seo:privacy_statement_asset }}" target="_blank">{{ trans:strings.cookie_learn_more }}</a>
            {{ /if }}
        </p>
        <div class="flex space-x-4">
            <button
                @click="
                    open = false,
                    cookieConsent = false"
                type="button"
                class="text-sm font-bold text-white"
            >
                {{ trans:strings.cookie_deny }}
            </button>

            <button
                @click="
                    open = false,
                    cookieConsent = true,
                    cookieConsentDate = '{{ now format="Y-m-d" }}'"
                type="button"
                class="px-4 py-2 bg-primary text-sm font-bold text-white"
            >
                {{ trans:strings.cookie_accept }}
            </button>
        </div>
    </div>
</div>
