{{# 
    The dark mode toggle when you use class based dark mode. To enable this do the following:

    * Uncomment `darkMode: 'class'` in `tailwind.config.js`.
    * Add `{{ partial:components/dark_mode_toggle }}` to the <head> in `resources/vies/layout.antlers.html`.
    * Add `{{ yield:dark_mode_toggle }}` as the last list item in the main ul in `resources/views/navigation/_main.antlers.html`.
#}}

<script>
    (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches))
        ? document.documentElement.classList.add('dark') 
        : document.documentElement.classList.remove('dark');
</script>

{{# The actual toggle yielded in the `resources/views/navigation/_main.antlers.html`. #}}
{{ section:dark_mode_toggle }}
    <li 
        x-data="{ 
            theme: (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches))
                ? 'dark'
                : 'light'
        }"
        x-cloak
    >
        <button 
            x-show="theme === 'light'"
            @click="
                theme = 'dark', 
                localStorage.theme = 'dark', 
                document.documentElement.classList.add('dark')"
            aria-label="{{ trans:strings.set_dark_mode }}"
            title="{{ trans:strings.set_dark_mode }}"
        >
            {{ svg:moon class="w-5 h-5 text-neutral-800 hover:text-primary-600 stroke-current transition-colors overflow-visible" aria-hidden="true" }}
        </button>

        <button 
            x-show="theme === 'dark'"
            @click="
                theme = 'light', 
                localStorage.theme = 'light', 
                document.documentElement.classList.remove('dark')"
            aria-label="{{ trans:strings.disable_dark_mode }}"
            title="{{ trans:strings.disable_dark_mode }}"
        >
            {{ svg:sun class="w-5 h-5 text-neutral-800 hover:text-primary-600 stroke-current transition-colors overflow-visible" aria-hidden="true" }}
        </button
    </li>
{{ /section:dark_mode_toggle }}