{{# A sizeable image rendered in a figure tag with optional caption. #}}
<figure class="size-{{ size }} my-4">
    {{ 
        partial:components/picture 
        :image="image" 
        class="w-full" 
        cover="false" 
        lazy="true"
        {{ if size == 'sm'}}
            sizes="(min-width: 768px) 35vw, 90vw" 
        {{ elseif size == 'md' }}
            sizes="(min-width: 768px) 55vw, 90vw" 
        {{ elseif size == 'lg' }}
            sizes="(min-width: 768px) 75vw, 90vw" 
        {{ elseif size == 'xl' }}
            sizes="90vw" 
        {{ /if }}
    }}
    {{ if caption }}
        <figcaption class="mt-2 text-neutral-500">
            {{ caption }}
        </figcaption>
    {{ /if }} 
</figure>