{{#
    @name Notification
    @desc The notification component. Currently used in `resources/views/page_builder/_form.antlers.html`.
    @param* content The notification content.
    @param* type The type of notification: `success`, `notice`, or `error`.
    @param class Add custom CSS classes.
#}}

<!-- /components/_notification.antlers.html -->
<div
    class="
        rounded border p-4
        {{ switch(
            (type == 'success') => 'bg-green-100 border-green-600',
            (type == 'notice') => 'bg-yellow-100 border-yellow-600',
            (type == 'error') => 'bg-red-100 border-red-600',
            () => 'bg-gray-100 border-gray-600'
        )}}
        {{ class }}
    "
>
    <div class="flex">
        <div class="shrink-0">
            {{ svg
                :src="type"
                alt=""
                aria-hidden="true"
                class="
                    h-5 w-5 fill-current motion-safe:transition-colors
                    { switch(
                        (type == 'success') => 'text-green-800',
                        (type == 'notice') => 'text-yellow-800',
                        (type == 'error') => 'text-red-800',
                        () => 'text-gray-800'
                    )}
                "
            }}
        </div>
        <div class="ml-3">
            <h3
                class="
                    text-sm leading-5 font-bold
                    {{ switch(
                        (type == 'success') => 'text-green-800',
                        (type == 'notice') => 'text-yellow-800',
                        (type == 'error') => 'text-red-800',
                        () => 'text-gray-800'
                    )}}
                "
            >
                {{ content }}
            </h3>
        </div>
    </div>
</div>
<!-- End: /components/_notification.antlers.html -->
