{{#
	@name Picture
	@desc The picture component. A responsive imageset in a picture element. See `resources/views/components/_figure.antlers.html` for an example on how to use this.
    @param* image An image URL.
    @param* sizes The sizes attribute. Something like `(min-width: 768px) 55vw, 90vw` for example.
    @param aspect_ratio Pass in an aspect ratio to crop the image in a certain way. `16/9` for example or specify a second ratio for larger screens: `1/1 large:1/2`.
    @param class Add optional CSS classes.
    @param cover Boolean. Whether the image should cover the parent. Uses the focus position.
    @param lazy Boolean. Whether the image should be natively lazy loaded.
    @param quality int Set image quality. Defaults to 85.
#}}

<!-- /components/_picture.antlers.html -->
{{ if image }}

    {{# Configure aspect ratio's. #}}
    {{ ratio = null }}
    {{ ratio_large = null }}
    {{ aspect_ratio | trim | explode(' ') }}
        {{ if value | contains('large:') }}
            {{ aspect = value | explode(':') | last }}
            {{ ratio_large = (aspect | explode('/') | last) / (aspect | explode('/') | first) }}
        {{ elseif value != '' }}
            {{ ratio = (value | explode('/') | last) / (value | explode('/') | first) }}
        {{ /if }}
    {{ /aspect_ratio }}

    {{# Set srcset sizes. #}}
    {{ srcsets = [
        [ 'width' => 320, 'ratio' => '{ ratio }' ],
        [ 'width' => 480, 'ratio' => '{ ratio }' ],
        [ 'width' => 640, 'ratio' => '{ ratio }' ],
        [ 'width' => 768, 'ratio' => '{ ratio }' ],
        [ 'width' => 1024, 'ratio' => '{ ratio_large ?? ratio }' ],
        [ 'width' => 1280, 'ratio' => '{ ratio_large ?? ratio }' ],
        [ 'width' => 1440, 'ratio' => '{ ratio_large ?? ratio }' ],
        [ 'width' => 1536, 'ratio' => '{ ratio_large ?? ratio }' ],
        [ 'width' => 1680, 'ratio' => '{ ratio_large ?? ratio }' ]
    ] }}

    <picture>
        {{ asset :url="image" }}
            {{ if extension == 'svg' || extension == 'gif' }}
                <img
                    class="{{ class }}"
                    src="{{ url }}"
                    alt="{{ alt | ensure_right('.') | entities }}"
                    width="{{ width }}"
                    height="{{ height }}"
                    {{ unless alt }}
                        aria-hidden="true"
                    {{ /unless }}
                />
            {{ else }}
                <source
                    srcset="
                        {{ srcsets scope="size" }}
                            {{
                                glide:image
                                width="{ size:width }"
                                height="{ size:ratio ? (size:width * size:ratio) : '10000' }"
                                quality="{ quality ?? '85' }"
                                fit="{ size:ratio ? 'crop_focal' : 'contain' }"
                                format="webp"
                            }} {{ size:width }}w,
                        {{ /srcsets }}
                    "
                    sizes="{{ sizes ?? '(min-width: 768px) 50vw, 90vw' }}"
                    type="image/webp"
                >
                <source
                    srcset="
                        {{ srcsets scope="size" }}
                            {{
                                glide:image
                                width="{ size:width }"
                                height="{ size:ratio ? (size:width * size:ratio) : '10000' }"
                                quality="{ quality ?? '85' }"
                                fit="{ size:ratio ? 'crop_focal' : 'contain' }"
                            }}
                            {{ size:width }}w,
                        {{ /srcsets }}
                    "
                    sizes="{{ sizes ?? '(min-width: 768px) 50vw, 90vw' }}"
                    type="{{ image.mime_type }}"
                >
                <img
                    width="{{ width }}"
                    height="{{ ratio_large ? (width * ratio_large) : height }}"
                    src="{{ glide:image width="1024" height="{ ratio_large ? (width * ratio_large) : height }" quality="{ quality ?? '85' }" fit="contain" }}"
                    alt="{{ alt | ensure_right('.') | entities }}"
                    {{ if cover }}
                        class="object-cover w-full h-full {{ class }}"
                        style="object-position: {{ focus | background_position }}"
                    {{ else }}
                        class="{{ class }}"
                    {{ /if }}
                    {{ unless alt }}
                        aria-hidden="true"
                    {{ /unless }}
                    {{ if lazy }}
                        loading="lazy"
                    {{ /if }}
                >
            {{ /if }}
        {{ /asset }}
    </picture>
{{ /if }}
<!-- End: /components/_picture.antlers.html -->
