<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        {{# Replace the following line with the SEO Pro or Aardvark SEO tag if you want to use an addon for SEO. Also remove the seo section in you page blueprint.#}}
        {{ partial:snippets/seo }}
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">
        {{# Generate your favicons here https://realfavicongenerator.net #}}
    </head>
    <body 
        class="min-h-screen bg-white {{ environment == 'local' ? 'debug' : '' }}" 
    >
        {{ yield:google_tag_manager }}
        {{ partial:layout/header }}
        {{ template_content }}
        {{ partial:layout/footer }}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
