<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        {{# Replace the following line with the SEO Pro or Aardvark SEO tag if you want to use an addon for SEO. Also remove the seo section in you page blueprint.#}}
        {{ partial:snippets/seo }}
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">

        {{# SVG of any size, main icon #}}
        <link rel="icon" href="favicon.svg">
        {{# Single color Safari icon, on transparent bg #}}
        <link rel=”mask-icon” href=”mask-icon.svg” color=”#000000">
        {{# iOS touch icons. 180x180 #}}
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        {{# manifest.json for lighthouse one 512x512 #}}
        {{# 
        {
            "icons": [
                { "src": "/512.png", "type": "image/png", "sizes": "512x512" }
            ]
        } 
        #}}
        {{# Theme color for android chrome browser color #}}
        <meta name="theme-color" content="#ffffff">
    </head>
    <body 
        class="min-h-screen bg-white {{ environment == 'local' ? 'debug' : '' }}" 
    >
        {{# Remove the following line if you want to use an addon for SEO. #}}
        {{ yield:seo_body }}
        {{ partial:layout/header }}
        {{ template_content }}
        {{ partial:layout/footer }}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
