{{# The SEO partial rendered in the <head> of your page. You don't need to use this file if you plan on using an addon for SEO. #}}

{{# Page title #}}
<title>
    {{ seo_title ? seo_title : title }}
    {{ seo:title_separator ? seo:title_separator : " &#124; " }}
    {{ seo:site_name ? seo:site_name : site:name }}
</title>

{{# Page description #}}
{{ if seo_description }}
    <meta name="description" content="{{ seo_description }}">
{{ /if }}

{{# No index and no follow #}}
{{ if environment == 'production' }}
    {{ if seo_noindex & seo_nofollow }}
        <meta name="robots" content="noindex, nofollow">
    {{ elseif seo_nofollow }}
        <meta name="robots" content="nofollow">
    {{ elseif seo_noindex }}
        <meta name="robots" content="noindex">
    {{ /if }}
{{ else }}
    <meta name="robots" content="noindex, nofollow">
{{ /if }}

{{# hreflang tags #}}
{{ locales }}
    {{ unless locale.key == current }}
        <link rel="alternate" hreflang="{{ locale:full replace="_|-" }}" href="{{ permalink }}">
    {{ /unless}}
{{ /locales }}

{{# Canonical URL #}}
{{ if seo_canonical_type == 'current' }}
    <link rel="canonical" href="{{ config:app:url }}{{ seo_canonical_current | url }}">
{{ elseif seo_canonical_type == 'external' }}
    <link rel="canonical" href="{{ seo_canonical_external }}">
{{ elseif seo_canonical_type == 'entry' }}
    <link rel="canonical" href="{{ permalink }}">
{{ /if }}

{{# Auto add pagination link's when using resources/views/components/_pagination.antlers.html. #}}
{{ yield:pagination }}

{{# Knowledge graph JSON-ld #}}
{{ if seo:json_ld_type && seo:json_ld_type != 'none' }}
    <script type="application/ld+json" id="schema">
        {{ if seo:json_ld_type == 'organization'  }}
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "{{ seo:organization_name }}",
                "logo": "{{ permalink }}{{ glide:seo:organization_logo width='336' height='336' fit='crop_focal' }}",
            }
        {{ elseif seo:json_ld_type == 'person' }}
            {
                "@context": "http://schema.org",
                "@type": "Person",
                "name": "{{ seo:person_name }}",
            }
        {{ elseif seo:json_ld_type == 'custom' }}
            {{ seo:json_ld }}
        {{ /if }}
    </script>
{{ /if }}

{{ if schema_jsonld  }}
    <script type="application/ld+json">{{ schema_jsonld }}</script>
{{ /if }}

{{# Breadcrumbs JSON-ld #}}
{{ if seo:breadcrumbs && segment_1 }}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {{ nav:breadcrumbs }}
                    {
                        "@type": "ListItem",
                        "position": {{ count }},
                        "name": "{{ title }}",
                        "item": "{{ permalink }}{{ url }}"
                    } {{ unless last}},{{ /unless}}
                {{ /nav:breadcrumbs }}
            ]
        }
    </script>
{{ /if }}

{{# Open Graph #}}
<meta property="og:site_name" content="{{ seo:site_name ? seo:site_name : site:name }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="{{ site:locale }}">
{{ if og_title }}
    <meta property="og:title" content="{{ og_title }}">
{{ else }}
    <meta property="og:title" content="{{ seo_title ? seo_title : title }}">
{{ /if }}
{{ if og_description }}
    <meta property="og:description" content="{{ og_description }}">
{{ elseif seo_description }}
    <meta property="og:description" content="{{ seo_description }}">
{{ /if }}
{{ if og_image }}
    <meta property="og:image" content="{{ glide:og_image width='1200' height='600' fit='crop_focal' absolute="true" }}">
{{ elseif seo:og_image }}
    <meta property="og:image" content="{{ glide:seo:og_image width='1200' height='600' fit='crop_focal' absolute="true" }}">
{{ /if }}

{{# Trackers #}}
{{ if environment == 'production' }}
    {{ if seo:use_google_tag_manager }}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ seo:google_tag_manager }}');</script>
    {{ /if }}

    {{ if seo:use_google_tag_manager }}
        {{# Yield this section in all your layouts after opening the <body> #}}
        {{ section:google_tag_manager }}
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ seo:google_tag_manager }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {{ /section:google_tag_manager }}
    {{ /if }}

    {{ if seo:use_google_site_verification }}
        <meta name="google-site-verification" content="{{ seo:google_site_verification }}" />
    {{ /if }}

    {{ if seo:use_google_analytics }}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ seo:google_analytics }}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('set', new Date());
        gtag('config', '{{ seo:google_analytics }}' {{ if seo:anonymize_ip }}, {'anonymize_ip': true}{{ /if }});
        </script>
    {{ /if }}

    {{ if seo:use_fathom }}
        <script src="https://cdn.usefathom.com/script.js" site="{{ seo:fathom }}" defer></script>
    {{ /if }}

    {{ if seo:use_cloudflare_web_analytics }}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ seo:cloudflare_web_analytics }}"}'></script>
    {{ /if }}
{{ /if }}
