/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/img/
/public/static/
/storage/*.key
/storage/antlers-language-server
/vendor
.env
.env.backup
.phpunit.result.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# Uncomment the following lines if you build assets on your server (recommended):
/public/js/
/public/css/
/public/mix-manifest.json
