/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/img/
/public/static/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/public/css/site.css
/public/js/site.js
/public/js/site.js.map
/public/js/site.js.LICENSE.txt
/public/mix-manifest.json
