{{#
    @name Consent gate
    @desc An extendable consent gate.
    @param aspect_ratio Aspect ratio class. Defaults to `aspect-video`.
    @param explainer The text explaining why consent is required. Defaults to `trans:strings.consent_embeds_disabled`.
#}}

<!-- /components/_consent_gate.antlers.html -->
{{ _consent_embeds =
    (environment == 'local' && seo:trackers_local && seo:embeds) or
    (environment == 'staging' && seo:trackers_staging && seo:embeds) or
    (environment == 'production' && seo:trackers_production && seo:embeds)
}}
<div
    {{ if _consent_embeds }}
        x-data
    {{ /if }}
    class="{{ class }}"
>
    <div class="relative {{ aspect_ratio ?? 'aspect-video' }}">
        {{ if _consent_embeds }}
            <div
                x-show="!$store.consentBanner.getConsent() || !$store.consentBanner.getConsentValue('embeds')"
                class="absolute z-10 inset-0 p-6 flex justify-center items-center bg-neutral/10 text-neutral/80"
            >
                <a @click.prevent="$store.consentBanner.revokeConsent()" href="#" class="underline">
                    {{ explainer ?? { trans:strings.consent_embeds_disabled } }}
                </a>
            </div>
            <template x-if="$store.consentBanner.getConsent() && $store.consentBanner.getConsentValue('embeds')">
                {{ slot }}
            </template>
        {{ else }}
            {{ slot }}
        {{ /if }}
    </div>

    {{ slot:append }}
</div>
<!-- End: /components/_consent_gate.antlers.html -->
