{{#
	@name Main navigation
	@desc The sites main navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity. There's a desktop and a mobile version.
#}}

{{# The desktop navigation. Hidden on smaller screen. Shown from md and up. #}}
<nav class="hidden md:block">
    <ul class="flex items-center space-x-8">
        {{ nav:main max_depth="2" include_home="true" }}
            <li
                {{ if children }}
                    x-data="{ subnavOpen: false }"
                {{ /if }}
                class="relative leading-none"
            >
                <a
                    class="flex items-center font-bold text-xs uppercase tracking-wide hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }}"
                    {{ if children }}
                        href="#"
                        @click.prevent="subnavOpen = !subnavOpen"
                    {{ else }}
                        href="{{ url }}"
                    {{ /if }}
                >
                    {{ title }}
                    {{ if children }}
                        <svg class="w-2 ml-1 overflow-visible stroke-current text-neutral"
                            :class="{ 'rotate-180': subnavOpen }"
                            aria-hidden="true"
                            stroke-width="16"
                            viewBox="0 0 140 140"><path d="M135.625 42.648l-62.533 62.527a4.37 4.37 0 01-6.184 0L4.375 42.648" fill="none" stroke-linecap="round" stroke-linejoin="round"
                        /></svg>
                    {{ /if }}
                </a>
                {{ if children }}
                    <ul
                        x-show="subnavOpen"
                        class="absolute mt-2 -ml-3 py-2 px-3 bg-white border border-neutral/10 rounded shadow"
                        :aria-expanded="subnavOpen"
                        @click.outside="subnavOpen = false"
                        x-cloak
                    >
                        {{ children }}
                            <li class="">
                                <a
                                    class="whitespace-nowrap py-2 block text-xs font-bold hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }}"
                                    href="{{ url }}"
                                >
                                    {{ title }}
                                </a>
                            </li>
                        {{ /children }}
                    </ul>
                {{ /if }}
            </li>
        {{ /nav:main }}
    </ul>
</nav>

{{# The mobile navigation. Hidden from md and up #}}
<nav
    x-data="{ mobileNavOpen: false }"
    x-effect="mobileNavOpen
        ? document.body.classList.add('no-scroll')
        : document.body.classList.remove('no-scroll')"
    x-trap="mobileNavOpen"
    class="md:hidden"
>
    <button
        @click.prevent="mobileNavOpen = !mobileNavOpen"
        class="fixed bottom-0 right-0 z-20 flex items-center justify-center w-16 h-16 mr-8 text-xs font-bold text-white mb-safe bg-primary"
        aria-label="Toggle menu"
        x-text="mobileNavOpen ? '{{ trans:strings.close }}' : '{{ trans:strings.menu }}'"
    ></button>

    <ul
        class="fixed inset-0 z-10 flex flex-col items-center justify-center space-y-8 overflow-auto bg-white"
        x-show="mobileNavOpen"
        x-cloak
    >
        {{ nav:main max_depth="2" include_home="true" }}
            <li
                {{ if children }}
                    x-data="{ mobileNavSubnavOpen: false }"
                {{ /if }}
                class="leading-none"
            >
                <a
                    class="flex items-center font-bold uppercase tracking-wide hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }}"
                    {{ if children }}
                        href="#"
                        @click.prevent="mobileNavSubnavOpen = !mobileNavSubnavOpen"
                        @click.outside="mobileNavSubnavOpen = false"
                    {{ else }}
                        href="{{ url }}"
                    {{ /if }}
                >
                   {{ title }}
                   {{ if children }}
                        <svg class="w-2 ml-1 overflow-visible stroke-current text-neutral"
                            :class="{ 'rotate-180': mobileNavSubnavOpen }"
                            aria-hidden="true"
                            stroke-width="16"
                            viewBox="0 0 140 140"><path d="M135.625 42.648l-62.533 62.527a4.37 4.37 0 01-6.184 0L4.375 42.648" fill="none" stroke-linecap="round" stroke-linejoin="round"
                        /></svg>
                    {{ /if }}
                </a>
                {{ if children }}
                    <ul
                        x-show="mobileNavSubnavOpen"
                        class="mt-4 space-y-4"
                        :aria-expanded="mobileNavSubnavOpen"
                        x-cloak
                    >
                        {{ children }}
                            <li>
                                <a
                                    class="whitespace-nowrap font-bold hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }}"
                                    href="{{ url }}">
                                    {{ title }}
                                </a>
                            </li>
                        {{ /children }}
                    </ul>
                {{ /if }}
            </li>
        {{ /nav:main }}
    </ul>
</nav>
