{{#
    @name Main mobile navigation
    @desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_mobile.antlers.html -->
<nav
    x-data="{ mobileNavOpen: false }"
    class="md:hidden"
    aria-label="{{ trans:strings.main_navigation }}"
    x-trap.inert.noscroll="mobileNavOpen"
    @keyup.escape.stop.prevent="mobileNavOpen = false"
    x-cloak
>
    <button
        @click.prevent="mobileNavOpen = !mobileNavOpen"
        class="fixed bottom-0 right-0 z-20 flex items-center justify-center w-16 h-16 mr-8 text-xs font-bold text-white mb-safe rounded bg-primary focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2"
        :aria-label="
        mobileNavOpen
            ? '{{ trans:strings.nav_close }}'
            : '{{ trans:strings.nav_open }}'
        "
        :aria-expanded="mobileNavOpen"
        x-text="mobileNavOpen ? '{{ trans:strings.close }}' : '{{ trans:strings.menu }}'"
    ></button>

    <div
        class="fixed inset-0 z-10 pt-8 px-8 pb-12 flex flex-col justify-end bg-white"
        x-show="mobileNavOpen"
    >
        <ul class="flex flex-col py-2 space-y-4 overflow-auto">
            {{ nav:main max_depth="2" include_home="true" select="title|url" }}
                <li
                    {{ if children }}
                        x-data="{ subnavOpen: false }"
                        @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                    {{ /if }}
                    class="leading-none"
                >
                    <a
                        class="w-full py-2 flex items-center space-x-1 text-lg font-bold hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }} focus:outline-none focus-visible:ring-2 ring-primary"
                        {{ if children }}
                            href="#"
                            @click.prevent="subnavOpen = !subnavOpen"
                            @click.outside="subnavOpen = false"
                            :aria-label="subnavOpen
                                ? '{{ trans:strings.subnav_close }}'
                                : '{{ trans:strings.subnav_open }}'"
                            :aria-expanded="subnavOpen"
                        {{ else }}
                            href="{{ url }}"
                        {{ /if }}
                    >
                        <span>{{ title }}</span>
                        {{ if children }}
                            <div :class="{ 'scale-y-[-1]': subnavOpen }" class="motion-safe:transition-transform">
                                {{ svg:chevron_down class="w-2 ml-1 overflow-visible stroke-current text-neutral" aria-hidden="true" }}
                            </div>
                        {{ /if }}
                    </a>
                    {{ if children }}
                        <ul
                            x-show="subnavOpen"
                            x-ref="subnav"
                            class="flex flex-col items-stretch space-y-2"
                            x-collapse
                        >
                            {{ children }}
                                <li class="{{ first ?= 'mt-2' }}">
                                    <a
                                        class="block py-2 whitespace-nowrap font-bold hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }} focus:outline-none focus-visible:ring-2 ring-primary"
                                        href="{{ url }}">
                                        {{ title }}
                                    </a>
                                </li>
                            {{ /children }}
                        </ul>
                    {{ /if }}
                </li>
            {{ /nav:main }}
        </ul>
    </div>
</nav>
<!-- End: /navigation/_main_mobile.antlers.html -->
