{{#
	@name Skip to content button
	@desc The first button that pops up when a user tabs. This enables them to skip directly to the content.
#}}

<!-- /navigation/_skip_to_content.antlers.html -->
<a class="fixed hidden md:block bottom-safe left-8 py-2 px-4 bg-primary text-white text-sm font-bold translate-y-24 opacity-0 focus-visible:translate-y-0 focus-visible:opacity-100 focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2 motion-safe:transition-all" href="#content">
	{{ trans:strings.skip_to_content }}
</a>
<!-- End: /navigation/_skip_to_content.antlers.html -->
