{{ if favicons:use }}
    {{# SVG of any size, main icon #}}
    <link rel="icon" href="{{ favicons:svg }}">
    {{# Single color Safari icon, on transparent bg #}}
    <link rel="mask-icon" href="{{ favicons:safari_mask_icon ?? favicons:svg }}" color="{{ favicons:safari_color }}">
    {{# iOS touch icons. 180x180 #}}
    {{ if favicons:apple_touch_icon }}
        <link rel="apple-touch-icon" href="{{ glide:favicons:apple_touch_icon width='180' height='180' fit='crop_focal' }}">
    {{ else }}
        <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
    {{ /if }}
    {{# manifest.json for lighthouse one 512x512 #}}
    <link rel="manifest" href="/site.webmanifest">
    {{# Theme color for android chrome browser color #}}
    <meta name="theme-color" content="{{ favicons:chrome_color }}">
{{ /if }}