{{# The collection content block with optional title. #}}
<section class="fluid-container grid md:grid-cols-12 gap-y-8 md:gap-8">
    <div class="md:col-start-3 md:col-span-8">
        {{ partial:typography/h2 class="mb-4" :content="block:title" }}
        <ul class="list-inside list-disc">
            {{ block:collection }}
                <li>
                    <a class="text-primary-600 underline" href="{{ url }}">
                        {{ title }}
                    </a>
                </li>
            {{ /block:collection }}
        </ul>
    </div>
</section>