{{# The contact form content block. #}}
<section class="fluid-container grid md:grid-cols-12 gap-y-8 md:gap-8">
    <div class="md:col-start-3 md:col-span-8">
        {{ partial:typography/h2 class="mb-4" :content="block:title" }}
        {{ partial:typography/paragraph :content="block:text" }}

        {{# Create the selected form and reference Alpine data in `sending()`. Prevent form from submitting with POST as we will submit with AJAX. #}}
        {{ form:create in="{ form:handle }" 
            id="form"
            class="flex flex-wrap" 
            x-ref="form" 
            x-data="sending()" 
            @submit.prevent="sendForm()" 
        }}
            <div class="w-full grid md:grid-cols-12 gap-y-6 md:gap-x-6">
                {{# Honeypot spam protection. #}}
                <div class="hidden">
                    <label class="font-bold" for="fax">{{ trans:strings.form_honeypot }} <sup class="text-notice-400">*</sup></label>
                    <input class="form-input w-full" id="fax" type="fax" name="fax" tabindex="-1" autocomplete="off"/>
                </div>

                {{ fields }}
                    <div class="flex flex-col space-y-4 
                        {{ width == '25' ?= 'md:col-span-3' }}
                        {{ width == '33' ?= 'md:col-span-4' }}
                        {{ width == '50' ?= 'md:col-span-6' }}
                        {{ width == '66' ?= 'md:col-span-8' }}
                        {{ width == '75' ?= 'md:col-span-9' }}
                        {{ width == '100' ?= 'md:col-span-12' }}"
                    >
                        <label class="font-bold" for="{{ handle }}">{{ trans key="{display}" }} {{ if validate | contains:required }}<sup class="text-notice-400">*</sup>{{ /if }}</label>
                        {{# Load notification when there is a validation error with the name field. #}}
                        <template x-if="errors.{{ handle }}">
                            {{ partial src="components/notification" type="error" attribute="x-text='errors.{handle}'" }}
                        </template>
                        {{ field }}
                    </div>
                {{ /fields }}

                {{# Pulse button and disable upon sending. #}}
                <div class="md:col-span-12 flex justify-end">
                    {{ partial:components/button tag="button" label="{ trans:strings.form_send }" attribute='x-bind:disabled="sending" x-bind:class="&#123;&#39;opacity-25 cursor-default&#39;: sending&#125;"' }}
                </div>
                <template x-if="success">
                    {{ partial src="components/notification" type="success" class="md:col-span-12" content="{trans:strings.form_success}" }}
                </template>
            </div>
        {{ /form:create }}

        {{# Load dynamic token JS to dynamically fetch and refresh a CSRF token. #}}
        {{ dynamic_token }}

        {{# The form script handling validation and submission via AJAX with `fetch()`. #}}
         <script>
        function sending() {
            return {
                error: false,
                errors: [],
                sending: false,
                success: false,
                sendForm() {
                    this.sending = true;
                    fetch(this.$refs.form.action, {
                        headers: {
                            'X-Requested-With' : 'XMLHttpRequest'
                        },
                        method: 'POST',
                        body: new FormData(this.$refs.form)})
                    .then(res => res.json())
                    .then(json => {

                        var t = this; // re-assign this

                        if (json['success']) {
                            t.errors = [];
                            t.success = true;
                            t.error = false;
                            t.sending = false;
                            t.$refs.form.reset();

                            setTimeout(function(){ 
                                t.success = false; // to hide the success message
                            }, 4500);
                        }
                        if (json['error']) {
                            t.sending = false;
                            t.error = true;
                            t.success = false;
                            t.errors = json['error'];
                        }
                    })
                    .catch(err => {
                        err.text().then( errorMessage => {
                            this.sending = false
                        })
                    })
                }
            }
        }
    </script>

    </div>
</section>
