{{#
    @name Form
    @desc The form page builder block.
    @set page.page_builder.form
#}}

<!-- /page_builder/_form.antlers.html -->
<section class="fluid-container grid md:grid-cols-12 gap-8">
    <div class="md:col-start-3 md:col-span-8">
        {{ block:title ?= { partial:typography/h1 as="h2" class="mb-8" :content="block:title" } }}
        {{ block:text ?= { partial:typography/p :content="block:text" } }}

        {{ if form:handle }}
            {{# Create the selected form and reference Alpine data in `sending()`. Prevent form from submitting with POST as we will submit with AJAX. #}}
            <div x-data="formHandler()" x-cloak>
                {{ form:create :in="form:handle"
                    id="form-{form:handle}"
                    csrf="false"
                    class="flex flex-col gap-8"
                    x-ref="form"
                    @submit.prevent="sendForm()"
                    js="alpine:dynamic_form"
                }}
                    {{# Honeypot spam protection. #}}
                    <div class="hidden">
                        <label class="font-bold" for="{{ honeypot }}">{{ trans:strings.form_honeypot }} <sup class="text-yellow-400">*</sup></label>
                        <input class="form-input w-full" id="{{ honeypot }}" type="text" name="{{ honeypot }}" tabindex="-1" autocomplete="off"/>
                    </div>

                    {{ sections }}
                        <fieldset class="w-full grid md:grid-cols-12 gap-6">
                            {{ if display || instructions }}
                                <span class="md:col-span-12">
                                    {{ display ?= { partial:typography/h2 class="mb-2" as="legend" content="{ trans :key="display" }" } }}
                                    {{ instructions ?= { partial:typography/p content="{ trans :key="instructions" }" } }}
                                </span>
                            {{ /if }}

                            {{# Render the default-styled fields. #}}
                            {{ fields scope="field" }}
                                <template x-if="{{ show_field }}">
                                    <div class=
                                        "
                                            {{ input_type == 'hidden' ?= 'hidden' }}
                                            flex flex-col space-y-3
                                            {{ switch(
                                                (width == '25') => 'md:col-span-3',
                                                (width == '33') => 'md:col-span-4',
                                                (width == '50') => 'md:col-span-6',
                                                (width == '66') => 'md:col-span-8',
                                                (width == '75') => 'md:col-span-9',
                                                () => 'md:col-span-12'
                                            )}}
                                        "
                                    >
                                        {{ unless type == 'spacer' }}
                                            <label class="font-bold" for="{{ handle }}">
                                                {{ trans :key="field:display" }}
                                                {{ if validate | contains('required') }}
                                                    <sup class="text-yellow-400">*</sup>
                                                {{ /if }}
                                                {{ if field:instructions }}
                                                    {{ partial:typography/p class="my-1 text-sm" content="{ trans :key="field:instructions" }" }}
                                                {{ /if }}
                                            </label>
                                        {{ /unless }}

                                        <div class="flex flex-col space-y-2">
                                            {{ field:field }}

                                            {{# Display error label when there is a validation error with the name field. #}}
                                            <template x-if="errors.{{ handle }}">
                                                <span class="text-red-800 text-sm font-bold" id="{{ handle }}" x-text="errors.{{ handle}}"></span>
                                            </template>
                                        </div>

                                    </div>
                                </template>
                            {{ /fields }}
                        </fieldset>
                    {{ /sections }}

                    <div class="w-full grid md:grid-cols-12 gap-6">
                        <template x-if="error">
                            {{ partial src="components/notification" type="error" class="md:col-span-12" content="{trans:strings.form_error}" }}
                        </template>
                        <template x-if="success">
                            {{ partial src="components/notification" type="success" class="md:col-span-12" content="{trans:strings.form_success}" }}
                        </template>

                        {{# Pulse button and disable upon sending. #}}
                        <div class="md:col-span-12 flex justify-end">
                            {{ partial:components/button as="button" label="{ trans:strings.form_send }" }}
                                {{ slot:attributes }}
                                    :disabled="sending" :class="{ 'opacity-25 cursor-default': sending }"
                                {{ /slot:attributes }}
                            {{ /partial:components/button }}
                        </div>
                    </div>
                {{ /form:create }}
            </div>

            {{# Call in the Peak Tools Alpine based Form Handler. #}}
            {{ partial:statamic-peak-tools::snippets/form_handler }}
        {{ /if }}
    </div>
</section>
<!-- End: /page_builder/_form.antlers.html -->
