{{#
    @name Pagination
    @desc The pagination component. Include in a result set using `{{ partial:components/pagination }}`.
    Auto adds pagination links to `resources/views/snippets/_seo.antlers.html`.
#}}

<!-- /components/_pagination.antlers.html -->
{{ if paginate.total_pages > 1 }}
    <div class="{{ class }}">
        {{ paginate }}
            {{# Section that will be yielded in the <head> of documents for search engines.. #}}
            {{ section:pagination }}
                {{ if prev_page }}
                    {{ if current_page == 2 }}
                        <link rel="prev" href="{{ prev_page | substr(0,-7) }}">
                    {{ else }}
                        <link rel="prev" href="{{ prev_page }}">
                    {{ /if }}
                {{ /if }}
                {{ if next_page }}
                    <link rel="next" href="{{ next_page }}">
                {{ /if }}
            {{ /section:pagination }}

            {{# The actual pagination buttons. #}}
            {{ active_classes = 'text-primary' }}
            {{ inactive_classes = '' }}
            {{ location_classes = '' }}

            <nav class="md:px-8 flex justify-center space-x-4">
                {{ if prev_page }}
                    <a class="{{ active_classes }}" href="{{ prev_page }}">&laquo; {{ trans:strings.previous }}</a>
                {{ else }}
                    <span class="{{ inactive_classes }}">&laquo; {{ trans:strings.previous }}</span>
                {{ /if }}
                <span class="{{ location_classes }}">{{ current_page }} {{ trans:strings.of }} {{ total_pages }}</span>
                {{ if next_page }}
                    <a class="{{ active_classes }}" href="{{ next_page }}">{{ trans:strings.next }} &raquo;</a>
                {{ else }}
                    <span class="{{ inactive_classes }}">{{ trans:strings.next }} &raquo;</span>
                {{ /if }}
            </nav>
        {{ /paginate }}
    </div>
{{ /if }}
<!-- End: /components/_pagination.antlers.html -->
