{{#
	@name Fallback description
	@desc Get the fallback description for meta, og and twitter.
#}}

{{ seo:collection_defaults | where('collection', {collection}) }}
    {{ if fallback == 'field' }}
        {{ scope:field }}
            {{ field[field_handle] | strip_tags | trim | truncate(157, '...') }}
        {{ /scope:field }}
    {{ elseif fallback == 'custom_text' }}
        {{ custom_text }}
    {{ elseif fallback == 'page_builder' }}
        {{ page_builder limit="1" }}
            {{ if article }}
                {{ article | where('type', 'text') | limit(1) }}
                    {{ text | strip_tags | trim | truncate(157, '...') }}
                {{ /article }}
            {{ elseif text }}
                {{ text | trim | truncate(157, '...') }}
            {{ /if }}
        {{ /page_builder }}
    {{ /if }}
{{ /seo:collection_defaults }}
