{{#
	@name Fallback description
	@desc Get the fallback description for meta, og and twitter.
#}}

<!-- /snippets/_fallback_description.antlers.html -->
{{ seo:collection_defaults where="collection:{collection}" }}
    {{ if fallback == 'field' }}
        {{ scope_value :var="field_handle" as="field_value" }}
            {{ field_value | strip_tags | trim | truncate:157:... }}
        {{ /scope_value }}
    {{ elseif fallback == 'custom_text' }}
        {{ custom_text }}
    {{ elseif fallback == 'page_builder' }}
        {{ page_builder limit="1" }}
            {{ if article }}
                {{ article where="type:text" limit="1" }}
                    {{ text | strip_tags | trim | truncate:157:... }}
                {{ /article }}
            {{ elseif text }}
                {{ text | trim | truncate:157:... }}
            {{ /if }}
        {{ /page_builder }}
    {{ /if }}
{{ /seo:collection_defaults }}
<!-- End: /snippets/_fallback_description.antlers.html -->
