{{#
	@name noscript
	@desc Disable the hiding of x-cloak elements when a user doesn't have Javascript enabled so content is still accessible.
#}}

<!-- /snippets/_noscript.antlers.html -->
<noscript>
    <style>
        nav.hidden,
        nav ul [x-cloak],
        nav ul li ul {
            display: block !important;
        }
    </style>
    <p class="relative z-50 py-3 px-4 bg-gray-100 border-b border-gray-200 text-center font-bold text-xs text-gray-600">{{ trans:strings.no_script }}</p>
</noscript>
<!-- End: /snippets/_noscript.antlers.html -->
