{{# This is the text email that goes to the sender of the contact form. #}}
{{ trans:strings.form_mail_greeting locale="{locale}" }} {{ first_name or name }},

{{ trans:strings.form_mail_body_sender locale="{locale}" }}

{{ trans:strings.form_mail_closing locale="{locale}" }},
{{ trans:strings.form_mail_from locale="{locale}" }}

-
{{ fields }}
{{ trans key="{display}" locale="{locale}" }}:
{{ if (value | is_array) }}
{{ value }}
{{ value }}
{{ /value }}
{{ else }}
{{ value }}
{{ /if }}
{{ /fields }}
-
{{ trans:strings.form_mail_submitted locale="{locale}" }} {{ now | timezone | format:r }}
{{ trans:strings.form_mail_from locale="{locale}" }}
