{{#
	@name Prose
	@desc The typography prose partial to render a prose object with `class` attribute.
    @param as The wrapping element. Defaults to `article`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_prose.antlers.html -->
<{{ as or 'article' }}
	class="
		prose
		prose-a:underline
		prose-a:decoration-primary
		prose-a:decoration-2
		hover:prose-a:text-primary
		focus:prose-a:outline-none
		focus-visible:prose-a:ring
		focus-visible:prose-a:ring-primary
		focus-visible:prose-a:rounded-sm
		prose-blockquote:border-primary
		prose-figure:my-0
		prose-headings:text-primary
		prose-hr:border-neutral
		prose-lead:text-neutral
		prose-li:marker:text-neutral
		prose-pre:whitespace-pre-wrap
		prose-strong:text-neutral
		max-w-none
		{{ class }}
	"
>
	{{ slot }}
</{{ as or 'article' }}>
<!-- End: /typography/_prose.antlers.html -->
